<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.AssistanceMapper" >
    <insert id="insertAssistEvent" parameterType="com.kang.pojo.po.AssistanceEventPo">
        INSERT INTO collect_cards.assistevents
            (assistEventId, involvementId, userId, activityId, assistTime)
        VALUES
            (#{assistEventId}, #{involvementId}, #{userId}, #{activityId}, #{assistTime})
    </insert>

    <select id="queryAssistEventsByUserIdAndActivityId" resultType="com.kang.pojo.po.AssistanceEventPo">
        SELECT * FROM collect_cards.assistevents
        WHERE userId=#{userId} AND activityId=#{activityId}
        ORDER BY assistTime desc
    </select>

    <select id="queryAssistEventsByInvolvementId" resultType="com.kang.pojo.po.AssistanceEventPo">
        SELECT * FROM collect_cards.assistevents
        WHERE involvementId=#{involvementId}
        ORDER BY assistTime desc
    </select>
</mapper>
