<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.ScratchMapper" >
    <insert id="insertScratchingEvent" parameterType="com.kang.pojo.po.ScratchingEventPo">
        INSERT INTO collect_cards.scratchingevents
            (scratchingEventId, involvementId, cardId, ScratchingTime)
        VALUES
            (#{scratchingEventId}, #{involvementId}, #{cardId}, #{ScratchingTime})
    </insert>

    <select id="queryScratchingEventsByInvolvementId" parameterType="String" resultType="com.kang.pojo.po.ScratchingEventPo">
        SELECT * FROM collect_cards.scratchingevents
        WHERE involvementId=#{involvementId}
        ORDER BY ScratchingTime desc
    </select>

    <select id="querySpecificCard" resultType="com.kang.pojo.po.ScratchingEventPo">
        SELECT * FROM collect_cards.scratchingevents
        WHERE involvementId=#{involvementId} AND cardId =#{cardId}
        ORDER BY ScratchingTime ASC
    </select>
</mapper>
